@model IEnumerable<E_Commerce.Models.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var c = Model;
    double total = 0;
    var errorcheckig = "";
    int j = 1;
    int i = 0;
    double c1 = 0;
}

<hr />
<div class="container text-center mt-2">
    <div class="row">
        <div class="col">
            <h3 class="text-secondary">SHOPPING CART</h3>
        </div>
    </div>
</div>
<br>
<div class="container text-center">
    <div class="row">
        <div class="col-1">
            <p class="text-secondary">#</p>
        </div>
        <div class="col-1">
            <p class="text-secondary">REMOVE</p>
        </div>
        <div class="col-1">
            <p class="text-secondary">PICTURE</p>
        </div>
        <div class="col-6">
            <p class="text-secondary">PRODUCT(S)</p>
        </div>
        <div class="col-1">
            <p class="text-secondary">PRICE(৳)</p>
        </div>
        <div class="col-1">
            <p class="text-secondary">QUANTITY</p>
        </div>
        <div class="col-1">
            <p class="text-secondary">TOTAL</p>
        </div>
    </div>
</div>
<hr />
@if (Session["cart"]!=null)
{


<form id="hideonempty" onsubmit="return validate();" action="/Cart/Checkout" method="get">
    @foreach (var item in Model)
    { 
        <div class="container text-center delete">
            <div class="row">
                <div class="col-1">
                    <p class="text-secondary">@j</p>
                </div>
                <div class="col-1">
                    <button class="btn btn btn-light" type="button" onclick="deleteCart(this)" data-cartindex-type="@i"><i class="far fa-trash-alt"></i></button>
                </div>
                <div class="col-1">
                    @{string image = (item.product.ImageFile).Split('|')[0];}
                    <img style="max-width:100%;" src="~/Content/image/@image" alt="product_image" />

                </div>
                <div class="col-6">
                    <div class="container text-center">
                        <p class="font-weight-bold">@item.product.Product_name</p>
                        @if (item.size != null)
                        {
                            <p>SIZE:&nbsp;@item.size.SizeName</p>
                        }
                        @if (item.outOfStock == "Out Of Stock")
                        {
                            errorcheckig = item.outOfStock;
                            <p class="stockout" style="color:red">@item.outOfStock</p>
                        }
                        else
                        {
                            <a class="font-weight-bold" href="/Product/EditCartItem/@i">EDIT</a>
                        }
                    </div>
                </div>
                <div class="col-1">
                    @if (item.product.Sale != null)
                    {
                    
                        var p = (double)item.product.UnitPrice;
                        var v = Convert.ToDouble(item.product.Sale.Amount) / 100;
                        c1 = (p - (p * v));
                        <p><s>@item.product.UnitPrice</s> &nbsp; @c1</p>
                    }
                    else
                    {
                       <p>@item.product.UnitPrice</p>
                    }

                </div>
                <div class="col-1">
                    <p class="p-2 border border-secondary">@item.count</p>
                </div>
                @{
                    double subtotal = 0;
                    
                    if (item.product.Sale != null)
                    {
                         subtotal = (double)(item.count * c1);
                        total += subtotal;
                    }
                    else
                    {
                         subtotal = (double)(item.count * item.product.UnitPrice);
                        total += subtotal;
                    }

                }
                <div class="col-1">
                    <p>৳ @subtotal</p>
                </div>
            </div>
        </div>
        <hr />
                        i++;
                        j++;
                    }
    <div class="container ml-5">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <button class="btn btn-light border border-secondary p-2" onClick="history.go(-1); return false;">Continue Shopping</button>
               
                <div class="bg-light p-2 mt-4">
                    <table>
                        <tr>
                            <td>
                                Sub-Total:&nbsp;
                            </td>
                            <td>
                                ৳ @total
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shipping:&nbsp;
                            </td>
                            <td>
                                ৳ 0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total:&nbsp;
                            </td>
                            <td>
                                ৳ @total
                            </td>
                        </tr>
                    </table>
                 
                </div>
                <div class="mt-2">
                    @if (errorcheckig.Length < 1)
                    {
                        <button class="btn btn-dark" type="submit">NEXT</button>
                    }
                    else
                    {
                        <button class="btn btn-dark" type="submit" data-toggle="modal" data-target="#StockOutModal">NEXT</button>
                    }
                </div>
            </div>
        </div>
        
    </div>

</form>
                    }
                    else
                    {
<div class="container text-center m-5">
    <p  style="color:red">Nothing In Your Cart</p>
    <a class="border border-secondary p-2" href="/Home/Index">Continue Shopping</a>
</div>
                    }
<div class="container text-center m-5" id ="emptycart" style="display:none">
    <p style="color:red">Nothing In Your Cart</p>
    <a class="border border-secondary p-2" href="/Home/Index">Continue Shopping</a>
</div>

<div id="StockOutModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header StockOutHeader">

            </div>
            <div class="modal-body StockOutBody">

            </div>
        </div>
    </div>
</div>

<script>
    function validate() {
        if ($(".stockout").length > 0) {
            $(".StockOutHeader").empty();
            $(".StockOutBody").empty();
            $(".StockOutHeader").append(`<h5 class="modal-title">Stock Out</h5><button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>`);
            $(".StockOutBody").append(`<p style="color:red">Please delete all the stock out products from cart</p>`);
           
            $(".StockOutBody").append(`<button type = "button" class="ml-2 btn btn-secondary" data-dismiss="modal">Close </button >`);
            return false;
        } else {
            return true;
        }
    }
    function deleteCart(item) {
        var index = item.getAttribute("data-cartindex-type");
        $.ajax({
            type: "POST",
            datatype: "json",
            url: '/Cart/delete',
            data: {
                id: index
            },
            success: function (response) {
                if (response == "empty") {
                    $(item).parents(".delete").remove();
                    $("#hideonempty").remove();
                    $("#emptycart").css("display", "block");
                } else {
                    $(item).parents(".delete").remove();
                }
                
            }
        });
    }
</script>