@model IEnumerable<E_Commerce.Models.Review>

@{
    ViewBag.Title = "ReviewList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ReviewList</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Admin/ProductDetails/@item.ProductID"><u>@Html.DisplayFor(modelItem => item.Product.Product_name)</u></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a href="/Admin/CustomerDetails/@item.CustomerID"><u>@Html.DisplayFor(modelItem => item.Customer.CustomerName)</u></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>

                    <a href="/Admin/DeleteReview/@item.ReviewID"><u>Delete</u></a>
                </td>
            </tr>
        }

    </table>
</div>
