@model E_Commerce.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var image = Model.ImageFile.Split('|');
}
<hr />
<div class="container text-secondary ml-5">
    <a class="text-secondary" href="/Home/Index">Home</a>&nbsp;/&nbsp;<a class="text-secondary" href="/Product/ManProductlist/@Model.MainCategory.Category_id?categoryname=m">@Model.MainCategory.Category_name</a>&nbsp;/&nbsp;@Model.Product_name
</div>

<div class="container ml-5 mt-4">
    <div class="row">
        <div class="col-8">
            <div class="container ml-0 ">
                <div class="row">
                    @foreach (var item in image)
                     {
                        <div class="col-sm-6 mt-2">
                            <img style="max-width:100%" src="~/Content/image/@item" alt="product"/>
                        </div>
                       
                     }

                </div>
            </div>
          
        </div>
        <div class="col-4 information">

            <div class="name mt-3">
                <h3 class="font-weight-bold">@Model.Product_name</h3>
            </div>
            <div class="price mt-4">
                <h5 class="font-weight-bold">৳ @Model.UnitPrice</h5>
            </div>
            <div class="description mt-4">
                <p class="text-secondary">@Model.Description</p>
            </div>
            <div class="extraactivities mt-4">
                <button class="btn p-3 border-right border-dark"><i class="text-secondary far fa-envelope"></i></button>

                <button class="btn p-3 border-right border-dark"><i class=" text-secondary far fa-heart"></i></button>

            </div>
            @if (Model.ProductSizes.Count > 0 && Model.SizeCategory != "other")
            {
                <form class="mt-4" onsubmit="return validateForm()" action="/Product/addcart" method="post">
                    <input type="hidden" id="productid" name="productid" value=@Model.Product_id>
                    <div class="form-group">
                        <label for="selectsize">Size<sub style="color:red">*</sub></label>
                        <select class="form-control" id="selectsize" name="sizename">
                            @foreach (var item in Model.ProductSizes)
                            {
                                if (item.Count > 0)
                                {
                                    <option value="@item.ProductSizeID|@item.Count">@item.SizeName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="ml-1 form-group">
                        <button type="button" onclick="decrement()">-</button>
                        <input type="number" id="demoInput" name="quantity" min=1 max=100 value="1" required>
                        <button type="button" onclick="increment()">+</button>
                        <button type="submit" class="ml-3 mt-2 btn btn-primary mb-2" id="addto">Add To Cart</button>
                    </div>
                    <div class="ml-1" id="erroms"></div>
                </form>
            }
            else if (Model.SizeCategory == "other")
            {
                <form class="mt-4" onsubmit="return validateForm()" action="/Product/addcart" method="post">
                    <input type="hidden" id="productid" name="productid" value=@Model.Product_id>
                    
                    <div class="ml-1 form-group">
                        <button type="button" onclick="decrement()">-</button>
                        <input type="number" id="demoInput" name="quantity" min=1 max=100 value="1" required>
                        <button type="button" onclick="increment()">+</button>
                        <button type="submit" class="ml-3 mt-2 btn btn-primary mb-2" id="addto">Add To Cart</button>
                    </div>
                    <div class="ml-1" id="erroms"></div>
                </form>
            }
            else
            {
                <div class="mt-4 sizenotavailable">
                    <p style="color:red">Size Not Available</p>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            @if (Session["LoginID"] == null)
            {
                <p class="mb-2" style="color:red">Only registered users can write review</p>
                <form  onsubmit="return false">
                    <div class="form-group">
                        <label for="ReviewTitle">REVIEW TITLE:</label>
                        <input type="text" class="form-control" id="ReviewTitle" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ReviewText">RIVIEW TEXT</label>
                        <textarea class="form-control" id="ReviewText" disabled></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            }
            else if (Session["notbuy"] != null)
            {
                var msg = (string)Session["notbuy"];
                <p class="mb-2" style="color:red">@msg</p>
                <form onsubmit="return false">
                   
                    <div class="form-group">
                        <label for="ReviewTitle">REVIEW TITLE:</label>
                        <input type="text" class="form-control" id="ReviewTitle" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ReviewText">RIVIEW TEXT</label>
                        <textarea class="form-control" id="ReviewText" disabled></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            }
            else
            {

                var cid = (int)Session["LoginID"];
                var cname = (string)Session["UserName"];

                <form class="mt-1" onsubmit="return submitreview()" id="ajaxsubmit">
                    <input type="hidden" name="ProductID" value="@Model.Product_id" />
                    <input type="hidden" name="CustomerID" value="@cid" />
                    <div class="form-group">
                        <label for="ReviewTitle">REVIEW TITLE:</label>
                        <input type="text" class="form-control" name="ReviewTitle" id="ReviewTitle" >
                        <div class="titlerr"></div>
                    </div>
                    <div class="form-group">
                        <label for="ReviewText">RIVIEW TEXT</label>
                        <textarea class="form-control" name="Description" id="ReviewText"></textarea>
                        <div class="deserr"></div>
                    </div>
                    <button type="submit" id="addattr" class="btn btn-primary">Submit</button>
                </form>

                <br />
                <h4 class="text-dark text-uppercase">existing reviews</h4>
                <div class="container">
                    @foreach (var item in Model.Reviews)
                    {
                        if (item.CustomerID == cid)
                        {
                            <div class="container">
                                <p class="text-secondary text-uppercase">@item.ReviewTitle</p>
                            </div>

                            <hr />
                            <div class="container">
                                <p class="text-secondary">@item.Description</p>
                            </div>
                            <div class="container">
                                <p class="text-secondary">Form: @cname | Date: @item.Date</p>
                            </div>
                            <br />
                        }
                    }
                </div>

            }
        </div>
        <div class="col-3"></div>
    </div>
</div>
<br />
<hr />

<div id="ReviewModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deleteHeader">

            </div>
            <div class="modal-body deleteBody">

            </div>
        </div>
    </div>
</div>

<script>

    function submitreview() {
        if ($("#ReviewTitle").val().length == 0) {
            $(".titlerr").empty();
            $(".titlerr").append(`<p class="reviewerr" style="color:red">Title is required</p>`);
        }
        if ($("#ReviewText").val().length == 0) {
            $(".deserr").empty();
            $(".deserr").append(`<p class="reviewerr" style="color:red">Review text is required</p>`);
        }
        if ($(".reviewerr").length >0) {
            return false;
        } else {
            var valdata = $("#ajaxsubmit").serialize();
            $.ajax({
                type: "POST",
                datatype: "json",
                url: '@Url.Action("AddReview", "Customer")',
                data: valdata,
                success: function (response) {
                    if (response == "success") {
                        var myModal = new bootstrap.Modal(document.getElementById('ReviewModal'));
                        myModal.toggle();
                        $(".modal-header").empty();
                        $(".modal-body").empty();
                        $(".modal-header").append(`<h5 class="modal-title">Success</h5><button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>`);
                        $(".modal-body").append(`<p class="text-success">review submitted successfully</p>`);
                        $(".modal-body").append(`<button type = "button" class="ml-2 btn btn-primary" data-dismiss="modal">Close </button >`);
                        $("#ReviewTitle").val("");
                        $("#ReviewText").val("");
                    }
                }
            });
            return false;
        }
    }
    $("#ReviewTitle").change(function () {
        if ($("#ReviewTitle").val().length < 4 || $("#ReviewTitle").val().length > 20) {
            $(".titlerr").empty();
            $(".titlerr").append(`<p class="reviewerr" style="color:red">Title length should between 4 to 20</p>`);
        } else {
            $(".titlerr").empty();
        }
    });
    $("#ReviewText").change(function () {
        if ($("#ReviewText").val().length < 15 || $("#ReviewText").val().length > 199) {
            $(".deserr").empty();
            $(".deserr").append(`<p class="reviewerr" style="color:red">Review text length should between 4 to 199</p>`);
        } else {
            $(".deserr").empty();
        }
    });
    function increment() {
        $("#erroms").empty();
        document.getElementById('demoInput').stepUp();
    }
    function decrement() {
        $("#erroms").empty();
        document.getElementById('demoInput').stepDown();
    }
    
    $("#demoInput").change(function () {
        if (Number($("#selectsize").val().split('|')[1]) < ($("#demoInput").val())) {
            $("#erroms").empty();
            $("#erroms").append(`<p style="color:red" id="counterror">Not Available.Available Quantity is ${$("#selectsize").val().split('|')[1]}</p>`);
        } else {
            $("#erroms").empty();
        }
    });
    function validateForm() {
        var value = Number($("#demoInput").val());

        if (Number($("#selectsize").val().split('|')[1]) < ($("#demoInput").val())) {
            $("#erroms").empty();
            $("#erroms").append(`<p style="color:red" id="counterror">Not Available.Available Quantity is ${$("#selectsize").val().split('|')[1]}</p>`);
        } 
        if ($("#counterror").length) {
            return false;
        } else {
            return true;
        }
        
    }
</script>

