@model E_Commerce.Models.Customer

@{
    var id = Model;
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>CustomerDetails</h2>

    <hr />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-3 text-center">

                <div class="profile-pic-div">
                    <img src="~/Content/image/@Model.ImageFile" alt="profile pic" id="photo">
                </div>

            </div>
            <div class="col-5">


                <table class="table table-bordered">
                    <tr>
                        <td>Customer Name</td>
                        <td>@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <td>Customer Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Customer Number</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Customer Username</td>
                        <td>@Model.Username</td>
                    </tr>
                    <tr>
                        <td>Customer Gender</td>
                        <td>@Model.Gender</td>
                    </tr>
                    <tr>
                        <td>Customer City</td>
                        <td>@Model.City</td>
                    </tr>
                    <tr>
                        <td>Total Order</td>
                        <td>@Model.OrderProducts.Count()</td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <div class="container text-center">
        <h3 class="text-secondary">
            Order History
        </h3>
        <div class=" container text-left">
            @foreach (var item in Model.OrderProducts)
            {
                <div class="container bg bg-light p-2 m-2">
                    <p>Product Name : <a href="/AdminProduct/DetailsFromHistory/@item.ProductID">@item.ProductHistory.Product_name</a></p>
                    <p>Payment Type : @item.Order.PayMentMethod </p>
                    <p>Amount : @item.Order.totalAmount tk</p>
                </div>
            }
        </div>
    </div>

