@model E_Commerce.Models.ViewModels.CategoryViewModel

<div class="wrapper">

    <nav id="sidebar" style="overflow-y:scroll">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>

        </div>
        <div class="sidebar-header">
            <a href="#"><i class="fas fa-home fa-2x"></i></a>
        </div>

        <ul class="list-unstyled components">
            @foreach (var item in Model.mainCategories)
            {
                if (item.SubCatetories.Count == 0 || item.SubCatetories == null)
                {
                    <li>
                        <a href="/Admin/getProducts/@item.Category_id/1">@item.Category_name</a>
                    </li>
                }
                else
                {
                    <li class="active">
                        <a href="#homeSubmenu @item.Category_id" data-toggle="collapse" aria-expanded="false">@item.Category_name</a>

                        <ul class="collapse list-unstyled" id="homeSubmenu @item.Category_id">
                            @foreach (var item2 in item.SubCatetories)
                            {
                                if (item2.FinalSubCategories.Count == 0 || item2.FinalSubCategories == null)
                                {
                                    <li>
                                        <a href="/Admin/getProducts/@item2.SubCategory_id/2">@item2.SubCategory_name</a>
                                    </li>
                                }
                                else
                                {

                                    <li>
                                        <a href="#NEWSubmenu @item2.SubCategory_id" data-toggle="collapse" aria-expanded="false">@item2.SubCategory_name</a>
                                        <ul class="ml-4 collapse list-unstyled" id="NEWSubmenu @item2.SubCategory_id">
                                            @foreach (var item3 in item2.FinalSubCategories)
                                            {
                                                <li>
                                                    <a href="/Admin/getProducts/@item3.FinalSubCate_id/3">@item3.FinalSubCate_name</a>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                }
                            }

                        </ul>
                    </li>
                }
            }

        </ul>

    </nav>

</div>
<div class="overlay"></div>


<nav class="navbar navbar-expand navfont1  mt-2 mb-2 navbar-light justify-content-between">
    <div class="hide">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link text-dark" href="/Admin/manCategories/1">Men <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/WomenCategories/2">Women</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/lifestylesCategories/3">LifeStyles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="/Sale/Index">SALE</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/ReviewList">Review</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/ProductCount">ProductCount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Admin/OrderHistory">OrderHistory</a>
            </li>

        </ul>


    </div>

    <div><a class="navbar-brand right ml-2 text-dark font-italic" href="/Admin/index"><b>Home</b></a></div>
    <div class="dropdown show">
        <a class="btn btn-white text-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Report
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/Admin/mencategoryReportdetails">MenCategory Report</a>
            <a class="dropdown-item" href="/Admin/womencategoryReportdetails">WomenCategory Report</a>
            <a class="dropdown-item" href="/Admin/lifestylecategoryReportdetails">LifestyleCategory Report</a>
        </div>
    </div>
    <div class="row">
        <div class="col pl-1">
            <a class="mr-2 text-secondary cart" href="/Admin/AddManager">Add Manager</a>
            <a class="mr-2 text-secondary cart" href="/Admin/AddProduct">Add Product</a>
            <a class="mr-2 text-secondary profile" href="/Admin/AdminProfile"><i class="fa fa-user fa-lg"></i></a>
            <a class="text-secondary profile" href="/Logout/Index">Logout</a>
        </div>
    </div>


</nav>

<nav class="navbar navbar-expand navfont navbar-light bg-dark mt-2">
    <div class="row">
        <div class="col">
            <button type="button" id="sidebarCollapse" class="btn">
                <i class="fas fa-align-left"></i>
            </button>
        </div>
        <div class=" col  ml-5">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/Admin/manCategories/1">Men <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/Admin/WomenCategories/2">Women</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="/Admin/lifestylesCategories/3">LifeStyles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/Sale/Index">SALE</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="/Admin/ReviewList">Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Admin/ProductCount">ProductCount</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


