@model E_Commerce.Models.ViewModels.CategoryViewModel
    @{ 
        double subtotal = 0;
    }

<div class="wrapper">

    <nav id="sidebar" style="overflow-y:scroll">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>

        </div>
        <div class="sidebar-header">
            <a href="#"><i class="fas fa-home fa-2x"></i></a>
        </div>

        <ul class="list-unstyled components">
            @foreach (var item in Model.mainCategories)
            {
                if (item.SubCatetories.Count == 0 || item.SubCatetories == null)
                {
                    <li>
                        <a href="/home/getProducts/@item.Category_id/1">@item.Category_name</a>
                    </li>
                }
                else { 
                <li class="active">
                    <a href="#homeSubmenu @item.Category_id" data-toggle="collapse" aria-expanded="false">@item.Category_name</a>
                
                    <ul class="collapse list-unstyled" id="homeSubmenu @item.Category_id">
                        @foreach (var item2 in item.SubCatetories)
                        {
                            if (item2.FinalSubCategories.Count == 0 || item2.FinalSubCategories == null)
                            {
                                <li>
                                    <a href="/home/getProducts/@item2.SubCategory_id/2">@item2.SubCategory_name</a>
                                </li>
                            }
                            else
                            { 

                                <li>
                                    <a href="#NEWSubmenu @item2.SubCategory_id" data-toggle="collapse" aria-expanded="false">@item2.SubCategory_name</a>
                                    <ul class="ml-4 collapse list-unstyled" id="NEWSubmenu @item2.SubCategory_id">
                                        @foreach (var item3 in item2.FinalSubCategories)
                                        {
                                            <li>
                                                <a href="/home/getProducts/@item3.FinalSubCate_id/3">@item3.FinalSubCate_name</a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                            }
                        }

                        </ul>
                </li>
                }
            }
    
        </ul>

    </nav>

</div>
<div class="overlay"></div>


<nav class="navbar navbar-expand navfont1  mt-2 mb-2 navbar-light justify-content-between">
    <div class="hide">
        <ul class="navbar-nav">

                <li class="nav-item active">
                    <a class="nav-link text-dark" href="/Home/manCategories/1">Men <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Home/WomenCategories/2">Women</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Home/lifestylesCategories/3">LifeStyles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/Sale/ProductSale">SALE</a>
                </li>
            

        </ul>
    </div>
    <div><a class="navbar-brand right ml-2 text-dark font-italic" href="/home/index"><b>JNFASHION&reg</b></a></div>
    <div class="row">
        <div class="col pl-1">
            <a class="mr-3 text-secondary cart" href="#"><i class="fa fa-shopping-bag fa-lg"></i></a>
            <a class="text-secondary profile" href="#"><i class="fa fa-user fa-lg"></i></a>
        </div>
    </div>

</nav>

<div class="profile-div mr-3">
    <div class="HoverAbleDivProfile">
        <div class="row p-2 ">
            <div class="col">
                <ul class="profileList">
                    <li>
                        @if (Session["UserName"] != null)
                        {
                        <a href="/Customer/Index">@Session["UserName"]</a>
                        }
                        else
                        {
                            <a href="/Registration/Index">Registration</a>
                        }
                    </li>
                    <li>
                        @if (Session["UserName"] != null)
                        {
                        <a href="/Logout/index">LogOut</a>
                        }
                        else
                        {
                        <a href="/Login/Index">Login</a>
                        }
                        
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>


<div class="cart-div mr-3">
    <div class="HoverAbleDivCart">
        <div class="row p-2 ">
            <div class="col">
                @if (Session["cart"] != null)
                {

                    foreach (var item in Session["cart"] as IList<E_Commerce.Models.ViewModels.CartViewModel>)
                    {
                        if (item.product.Sale != null)
                        {


                            var p = (double)item.product.UnitPrice;
                            var v = Convert.ToDouble(item.product.Sale.Amount) / 100;
                            var c = (p - (p * v));

                            subtotal += ((double)c * item.count);


                        }
                        else {
                            subtotal += ((double)item.product.UnitPrice * item.count);
                        }

                        <div class="container mt-3">
                            <div class="row items">
                                <div class="col-3 picture">
                                    @{
                                        var image = (item.product.ImageFile).Split('|')[0];
                                    }

                                    <img src="~/Content/image/@image" alt="cartimage" style="max-width:100%" />
                                </div>
                                <div class="col-9 information">
                                    <div class="productname">
                                        <a class="font-weight-bold" href="/Product/Details/@item.product.Product_id">@item.product.Product_name</a>
                                    </div>
                                    @if (item.size != null)
                                    {
                                        <div class="productsize">
                                            <p class="text-secondary">Size:@item.size.SizeName</p>
                                        </div>
                                    }
                                    <div class="productprice">
                                        <span class="p-2 border border-dark">@item.count</span>
                                        @if (item.product.Sale != null)
                                        {


                                            var p = (double)item.product.UnitPrice;
                                            var v = Convert.ToDouble(item.product.Sale.Amount) / 100;
                                            var c = (p - (p * v));

                                            <span class="ml-2"><s>৳ @item.product.UnitPrice</s> &nbsp; ৳ @c</span>


                                        }
                                        else
                                        {
                                            <span class="ml-2">৳ @item.product.UnitPrice</span>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <hr />
                    <div class="container mt-1">
                        <div class="row">
                            <div class="col-8">
                                <p>Subtotal:</p>
                            </div>
                            <div class="col-4">
                                <p class="text-secondary">@subtotal tk</p>
                            </div>
                        </div>
                    </div>
                    <div class="container m-2">
                        <a class="p-2 border border-dark bg-secondary text-light" href="/cart/Index">Go To Cart</a>
                    </div>
                }
                else
                {
                    <p style="color:red">Nothing In Your Cart</p>
                }
            </div>

        </div>
    </div>
</div>

    <nav class="navbar navbar-expand navfont navbar-light bg-dark mt-2">
        <div class="row">
            <div class="col">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
            <div class=" col  ml-5">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/Home/manCategories/1">Men <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Home/WomenCategories/2">Women</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/Home/lifestylesCategories/3">LifeStyles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/Sale/ProductSale">SALE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

